body
{
    margin:0;
    padding:0;
    background:#efefef;
    font-size:16px;
    color:#777;
    font-family:sans-serif;
    font-weight:300;
}
.right-box
{
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    padding: 40px;
    width:300px;
    height: 400px;
}
h1{
    margin:0 0 20px 0;
    font-weight:300;
    font-size: 28px;
}
input[type="text"],
input[type="password"]
{
    display:block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width:220px;
    height:32px;
    border: none;
    outline:red;
    border-bottom: 1px solid #aaa;
    font-family:sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
#button
    {
        background-image: linear-gradient(to right,purple,pink);
    }